{% extends  'ex4/base.html' %}

{% block content%}

    {% if name %}
        <h1>Hello {{ name}}!</h1>
        <br/>
        <img src="/static/ex2/images/1200px-Flask_logo.png" width="400">

        <br/><br>
        <p id = "demo"> This is stuff...</p>

        <script src="/static/ex2/js/my_file_js.js"></script>
    {% else %}
        <h1>What's your name?!</h1>
        <br/>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label(class= "form-label") }}
            {{ form.name(class= "form-control") }}
            <br/>
            {{ form.submit(class= "btn btn-secondary") }}
        </form>
    {% endif %}

{% endblock%}